@import "../utils/Mixins.scss";
@import "../utils/Variables.scss";

.button {
  @include shadow_light;
  @include lato;
  padding: 5px 0px;
  font-size: 1.35em;
  font-weight: 600;
  border-radius: 25px;
  background-color: $primary_color;
  color: $white_color;
  border: 2px solid $third_color;
  transition: color 350ms ease, background-color 350ms ease;
  cursor: pointer;
  &:hover {
    color: $primary_color;
    background-color: $white_color;
  }
}

.newLetter_button {
  margin: 0 auto;
  padding: 6px 50px;
  transition: margin-bottom 350ms ease;
  @media screen and (max-width: 1024px) {
    margin-bottom: 10px;
  }
}
