@import "../utils/Mixins.scss";
@import "../utils/Variables.scss";

.button {
  @include shadow_light;
  @include lato;
  padding: 5px 0px;
  font-size: 1.35em;
  font-weight: 600;
  border-radius: 25px;
  background-color: $primary_color;
  color: $white_color;
  border: 2px solid $third_color;
  transition: color 350ms ease, background-color 350ms ease;
  cursor: pointer;
  &:hover {
    color: $primary_color;
    background-color: $white_color;
  }
}

.newLetter_button {
  margin: 0 auto;
  padding: 6px 50px;
  transition: margin-bottom 350ms ease, color 350ms ease,
    background-color 350ms ease;
  @media screen and (max-width: 1024px) {
    margin-bottom: 10px;
  }
}

.back-to-top {
  position: fixed;
  bottom: 20px; /* Positionnez le bouton en bas de la fenêtre */
  right: 20px; /* Positionnez le bouton sur le côté droit de la fenêtre */
  width: 40px;
  height: 40px;
  background-color: $primary_color; /* Couleur de fond du bouton */
  color: $white_color; /* Couleur du texte du bouton */
  border: 2px solid $third_color; /* Supprimez la bordure du bouton */
  border-radius: 100%; /* Rendez le bouton rond en arrondissant les coins */
  padding: 8px; /* Ajoutez un peu de rembourrage pour le bouton */
  cursor: pointer; /* Changez le curseur pour indiquer que le bouton est cliquable */
  opacity: 0; /* Masquez initialement le bouton */
  transition: opacity 350ms ease, color 350ms ease, background-color 350ms ease;
  font-size: 1.2em;

  &:hover {
    color: $primary_color;
    background-color: $white_color;
  }
}
/* Style pour afficher le bouton lorsque isVisible est true */
.back-to-top.is-visible {
  opacity: 1; /* Affichez le bouton en le rendant complètement opaque */
}
