@import "../utils/Mixins.scss";
@import "../utils/Variables.scss";

footer {
  @include shadow_medium;
  width: 100%;
  margin: 0px auto;

  .footer_content {
    @include fontLogo;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    font-size: 2em;
    color: $secondary_color;
  }
}
