@import "../utils/Mixins.scss";
@import "../utils/Variables.scss";

header {
  @include shadow_light;
  background-color: $primary_color;
  width: 100%;
  margin: 0px auto;
  z-index: 100;

  .header_content {
    @include fontLogo;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
    font-size: 3.5em;
    color: $white_color;
  }
}
