//
//
//
/********** Fonts **********/
/****** mixin font lato ******/
@mixin lato {
  font-family: "Lato", sans-serif;
}

/****** mixin font roboto ******/
@mixin roboto {
  font-family: "Roboto", sans-serif;
}

/****** import font Yellowtail ******/
@mixin fontLogo {
  font-family: "Yellowtail", cursive;
}
//
//
//
/********** box shadox **********/
/********* mixin box shadow_button *********/
@mixin shadow_light {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.55);
}

/********* mixin box shadow *********/
@mixin shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/********* mixin box shadow medium *********/
@mixin shadow_medium {
  box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.55);
}
//
//
//
