/****** variables de couleurs ******/

$white_color: #fdfffc; // Blanc Baby powder
$black_color: #1c2321; // Noir Eerie black
$primary_color: #223843; // Gris foncé Gun metal
$secondary_color: #172a3a; // blue
$third_color: #75dddd; // tiffany blue
$fourth_color: #508991; // blue munsell

$background_color: #fffafb; // Snow

$option_color: #004346; // dark state grey
$option100_color: #175457; // midnight green
$option200_color: #4f86c6; // Silver lake blue
$option300_color: #f4e76e; // Maize
$option400_color: #058ed9; // Calestial blue

$extra_color: #f25f5c; // Bittersweet
$extra100_color: #6b7fd7; // Glaucous
$extra200_color: #f9dbbd; // Light orange
$extra300_color: #fec601; // Mikado yellow
